[Unit]
After=docker.service

[Service]
ExecStart=/var/gnway/prometheus/prometheus --config.file=/var/gnway/prometheus/prometheus.yml --storage.tsdb.path=/var/gnway/prometheus/Data/ --web.external-url=http://172.18.152.41:9090
Restart=always


[Install]
WantedBy=multi-user.target

